.header {
    border-radius: 2000px;
    background-color: rgba(236, 105, 105, 0.7);
    border-style: outset;
}

.titulo {
    color: #fff;
    text-align: center;
    font-family: "Courier New";
    background-color: transparent;
    font-size: 100px;
    vertical-align: middle;
    text-shadow: rgb(68, 3, 3) 0px 0px 10px;
    padding: 10px;
}

.sub-titulo {
    color: #fff;
    text-align: center;
    font-family: "Courier New";
    vertical-align: middle;
    text-shadow: rgb(68, 3, 3) 0px 0px 10px;
    background-color: #ffcece;
    padding: 10px;
    border-radius: 2000px;
    border-width: 300px;
}

.op {
    color: #fff;
    text-align: center;
    font-family: "Courier New";
    border-radius: 50px;
    text-shadow: rgb(68, 3, 3) 0px 0px 10px;
}

.Nya {
    color: #fff;
    text-align: center;
    font-family: "Courier New";
    border-radius: 50px;
    text-shadow: rgb(68, 3, 3) 0px 0px 10px;
}

.menu {
    background-color: lightpink;
    border: lightcoral;
    border-style: double;
    border-radius: 50px;
    padding: 10px;
    src: url(ecuacion2.html)
}

.ecuacion {
    background-color: rgba(236, 105, 105, 0.7);
    text-align: center;
    color: white;
    font-family: "Courier New";
    text-shadow: rgb(68, 3, 3) 0px 0px 10px;
    padding: 10px;
    border-style: groove;
    border-radius: 50px;
}

.imgec {
    border-radius: 20px;
}